 
.collapsible .toggle{
    background: rgb(73, 83, 230);
    cursor: pointer;
    border: unset;
    border: unset;
    padding: .3rem;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: .5rem;
}
.toggle{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 100px !important;
}
.toggle span {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    right: 5%;
    top: 25%;
    position: absolute;
    transition: ease 1s;
    transform: rotate(360deg);
    height: 30px;
    width: 30px;
}
  
.collapsible .content-parent{
    height: 0px;
    overflow: hidden;   
    transition: height ease 1s; 
   background: rgb(175, 128, 128);
} 
.collapsible .content-parent.show{
    height: 100px;
    background: rgb(175, 128, 128);
}
.collapsible .content{
    border: 1px solid #afafaf;
    padding: .5rem;
    border-radius: 5px;
   margin: 20px;
   background: rgb(175, 128, 128);

}